@import 'globals';
@import 'foundation/functions';

#skills {

  padding-top: rem-calc(35px);
  color: $white;

  header #{headings()} {
    color: rgb(7, 37, 110);
  }



  .skill {
    .icon {
      width: 47px;
      height: 53px;
      position: absolute;

      .image, .skill-label {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
      }

      .image {
        top: 4px;
      }

      .skill-label {
        //Override foundation
        margin: 0;
        bottom: 0px;
        font-size: 10px;
      }
    }
  }
}






