@import 'compass';
@import 'foundation/functions';
@import 'globals';

#skills {
  $height: 32px;

  color: $white;
  $hover-color: lighten($primary, 10%);

  .legends {
    margin-bottom: 15px;
    @include display-flex;
  }

  .search {

    .bar {
      position: absolute;
      top: 0;
      left: 62px;
      //Moved search bar in front of other legends
      z-index: 1;

      margin: 0;
      padding: 0;
      height: $height;
      width: 0px;

      border: 2px solid $primary;

      transition: width 1s ease, padding-left 1s ease;

      &.show {
        width: 707px;
        padding: .5em .5em .5em rem-calc(19px);
      }
    }

    &:hover .bar {
      border-color: $hover-color;
    }

    .legend {
      //Moved search chevron in front of search bar
      z-index: 2;
    }
  }

  .legend {

    position: relative;
    margin-right: 26px;

    text-align: center;
    font-size: 9px;

    @include display-flex;
    @include align-items(center);
    @include justify-content(center);

    background: $primary;

    height: $height;
    width: 90px;

    &:first-child {
      width: 52px;

      //Removed back of chevron
      &:before {
        border: none;
      }
    }

    &:last-child {
      width: 95px;

      //Remove front of chevron
      &:after {
        border: none;
        margin: 0;
      }
    }

    &:after, &:before {
      content: "";

      position: absolute;
      top: 0;
    }

    //Back of chevron
    &:before {
      right: 100%;

      border-top: $height/2 solid $primary;
      border-left: 10px solid transparent;
      border-bottom: $height/2 solid $primary;
    }

    //Front of chevron
    &:after {
      left: 100%;

      border-top: $height/2 solid transparent;
      border-left: 10px solid $primary;
      border-bottom: $height/2 solid transparent;
    }

    &:hover, &.selected {
      background: $hover-color;
      color: white;
      &:after {
        border-left: 10px solid $hover-color;
      }
      &:before {
        border-top: $height/2 solid $hover-color;
        border-bottom: $height/2 solid $hover-color;
      }
    }

  }

  .skill {

    .skill-label {
      width: 47px;
      height: 53px;
      position: absolute;

      .icon, .name {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
      }

      .icon {
        top: 4px;
      }

      .name {
        //Override foundation
        margin: 0;
        bottom: 0px;
        font-size: 10px;
      }
    }
  }
}






