@import 'globals';
@import 'foundation/functions';

#skills {

  padding-top: rem-calc(35px);
  color: $white;

  header #{headings()} {
    color: rgb(7, 37, 110);
  }

  .search {
    position: relative;
    padding-bottom: rem-calc(8px);

    &:hover {
      .search-background {
        fill: lighten($primary, 10%);
      }
      input[type="text"] {
        border-color: lighten($primary, 10%);
      }
    }

    .icon, input[type="text"] {
      position: absolute;
    }

    input[type="text"] {
      z-index: 2;
      left: 53px;
      margin: 0;
      padding: 0;

      height: 32px;
      width: 0;
      border: 2px solid $primary;

      visibility: hidden;

      transition: width 1s ease, visibility 1s linear;

      &.show {
        //Override foundation
        width: rem-calc(703px);
        visibility: visible;

        //Foundation default
        padding: .5rem;
      }
    }

    .icon {
      top: 0;
      width: 53px;
      height: 32px;
      z-index: 1;

      //position svg search icon
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .legend {
      width: 756px;
      height: 32px;

      //paint all svg polygons
      fill: $primary;
    }

    .icon, .legend {
      max-width: none;
    }
  }

  .skill {

    .skill-label {
      width: 47px;
      height: 53px;
      position: absolute;

      .icon, .name {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
      }

      .icon {
        top: 4px;
      }

      .name {
        //Override foundation
        margin: 0;
        bottom: 0px;
        font-size: 10px;
      }
    }
  }
}






