$text-highlight-color: rgb(38, 96, 122);

.text-highlight {
  color: $text-highlight-color;
}

section {
  h6 {
    color: $text-highlight-color;
    font-weight: bold;
  }

  /*
   * Questionable but probably easier using border-bottom
   * and changing the margin between all the rows
   */
  &:after {
    content: "";
    display: block;
    height: 1px;
    margin: 0 auto;
    position: relative;
    top: -5px;
    width: 97%;
    background-color: black;
  }
}