@import "_settings.scss";
@import 'foundation/functions';

/*===Temporary Rules===*/
.template {
  z-index: 1;
  display: block;
  width: $row-width;

  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.container {
  margin: 0 auto;
  position: relative;
  padding-top: rem-calc(19px);
  z-index: 2;
}

.template, .container {
  opacity: .5;
}

/*===END Temporary Rules===*/

$nav-height: rem-calc(41px);

.main-nav {
  color: white;

  li {
    list-style: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    //Override foundation
    margin: 0;

    //Place 1st level <li>s horizontally
    > li {
      text-transform: uppercase;
      font-size: rem-calc(12px);

      padding: rem-calc(10px) rem-calc(19px);
      display: flex;
      align-items: center;
    }

    .logo {
      padding: 0;
      margin: 0;

      width: rem-calc(78px);
    }

    .experience {
      width: rem-calc(82px);
      padding-left: rem-calc(3px);
      padding-right: rem-calc(3px);
    }

    .education {
      width: rem-calc(76px);
      padding-left: rem-calc(3px);
      padding-right: rem-calc(3px);
    }

    .experience, .about {
      height: rem-calc(49px);

      background-color: rgb(69, 104, 160);
    }

    .skills, .education {
      height: $nav-height;

      background-color: rgb(79, 117, 179);
    }
  }

  position: relative;

  .background {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: -1;

    width: 100%;
    height: $nav-height;

    background-color: rgb(95, 138, 202);
  }
}