@import "_settings.scss";
@import 'foundation/functions';
@import "compass";
@import 'globals';

/*===Temporary Rules===*/
#template {
  z-index: 1;
  display: block;
  width: $row-width;

  position: absolute;
  left: 50%;
  top: -40px;
  transform: translate(-50%, 0);
}

#container {
  margin: 0 auto;
  position: relative;
  padding-top: rem-calc(19px);
  z-index: 2;
}

/*===END Temporary Rules===*/

section.row {
  header #{headings()} {
    color: $primary;
  }
}

#nav {
  padding-bottom: rem-calc(20px);

  border-bottom: 2px solid rgb(247, 247, 247);

  .logo {
    padding: 0;
    width: rem-calc(60px);
    height: rem-calc(77px);
    img {
      //TODO In Firefox image dimensions are expanding beyond .logo's bounds
      @extend .logo
    }
  }

  > ul {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);

    font-size: rem-calc(11px);

    //Override foundation
    margin: 0;

    > li {
      $transition-duration: .3s;
      list-style: none;

      //Center content vertical + horizontal
      @include display-flex;
      @include align-items(center);
      @include justify-content(center);

      width: rem-calc(80px);
      padding: rem-calc(10px) 0;

      transition: background-color $transition-duration ease;

      //Override foundation
      a {
        transition: color $transition-duration ease;
        color: black;
      }

      //No hover effect for logo
      &:hover:not(:nth-child(3)) {
        background: #5076b3;

        //Override foundation
        a {
          color: $white;
        }
      }

    }
  }
}

#workflow {
  $slide-color: rgb(21, 61, 113);
  $slide-transition: 1.5s;

  #slides {
    position: relative;
    margin: rem-calc(9px) auto rem-calc(20px) auto;

    height: rem-calc(372px);
    width: rem-calc(660px);
  }

  #think {
    .icon {
      width: rem-calc(300px);
      bottom: rem-calc(65px);
    }
  }

  #design {
    .icon {
      width: rem-calc(300px);
    }
  }

  #create {
    .icon {
      width: rem-calc(235px);
    }
  }

  .slide {
    //Hide slides in back
    background-color: white;

    border: 5px solid $slide-color;
    //Shape slide into a circle
    @include border-radius(50%);

    width: rem-calc(294px);
    height: rem-calc(294px);

    position: absolute;
    overflow: hidden;
    left: 50%;

    @include transition(z-index $slide-transition ease, transform $slide-transition ease, top $slide-transition ease, opacity $slide-transition ease, box-shadow .3s ease);

    .tag-line, .icon {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .icon {
      //Override foundation
      max-width: none;
    }

    .tag-line {
      //Override foundation
      color: $white;
      font-size: rem-calc(13px);
      text-align: center;

      height: rem-calc(20px);
      width: 100%;

      bottom: rem-calc(20px);

      background-color: $slide-color;
    }

    //Slide positioning
    &.middle {
      z-index: 1;
      transform: translate(-50%, 0);
      top: rem-calc(65px);
    }

    @mixin back {
      opacity: .5;
      top: rem-calc(8px);
    }

    &.left {
      @include back;
      transform: translate(-111%, 0)
    }

    &.right {
      @include back;
      transform: translate(11%, 0)
    }
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    }
  }
}

#about {
  color: $white;
  text-align: justify;

  background-color: $primary;

  padding: rem-calc(25px) 0 rem-calc(5px);
  margin-bottom: rem-calc(10px);

  header #{headings()} {
    //Override foundation
    color: inherit;
  }

  .icons {
    margin-top: rem-calc(8px);
    @include display-flex;
    @include flex-direction(column);
    font-size: rem-calc(13px);

    .icon {
      span:hover {
        color: white;
      }
      margin-bottom: rem-calc(18px);
    }
  }

  .phone {
    img {
      width: rem-calc(31px);
      height: rem-calc(35px);
    }
  }

  .email {
    img {
      width: rem-calc(32px);
    }
  }

  .github {
    img {
      width: rem-calc(29px);
    }
  }

  .linkedin {
    img {
      width: rem-calc(28px);
    }
  }
}

#education {

  article {
    display: flex;
    justify-content: space-between;

    .degree {
      b {
        color: $primary;
      }
    }
    .date {
      text-align: right;
    }
  }

}