@import "compass";
@import "_settings.scss";
@import 'foundation/functions';

/*===Temporary Rules===*/
#template {
  z-index: 1;
  display: block;
  width: $row-width;

  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

#container {
  margin: 0 auto;
  position: relative;
  padding-top: rem-calc(19px);
  z-index: 2;
}

#template, #container {
  opacity: .5;
}

/*===END Temporary Rules===*/

$nav-height: rem-calc(41px);
$white: #EAEAEA;

#nav {
  color: $white;

  .logo {
    width: rem-calc(78px);
  }

  > ul {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);

    font-size: rem-calc(11px);

    //Override foundation
    margin: 0;

    > li {
      list-style: none;

      //Center content vertical + horizontal
      @include display-flex;
      @include align-items(center);
      @include justify-content(center);

      //Inner nav elements
      &:nth-child(2), &:nth-child(4) {
        height: rem-calc(49px);
        width: rem-calc(80px);

        background-color: rgb(69, 104, 160);
      }

      //Outer nav elements
      &:nth-child(1), &:nth-child(5) {
        height: $nav-height;
        width: rem-calc(76px);

        background-color: rgb(79, 117, 179);
      }
    }
  }

  position: relative;

  .background {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: -1;

    width: 100%;
    height: $nav-height;

    background-color: rgb(95, 138, 202);
  }
}

#workflow {
  height: rem-calc(388px);
  position: relative;

  .slide {
    //Hide slides in back
    background-color: white;

    border: rem-calc(5px) solid rgb(21, 61, 113);
    //Shape slide into a circle
    border-radius: 50%;

    width: rem-calc(294px);
    height: rem-calc(294px);

    position: absolute;
    overflow: hidden;

    .content {
      width: 100%;

      //Center content
      position: absolute;
      transform: translate(-50%, 0);
      bottom: rem-calc(20px);
      left: 50%;
    }

    .tag-line {
      //Override content
      color: $white;
      font-size: rem-calc(13px);
      text-align: center;

      height: rem-calc(20px);

      background-color: rgb(21, 61, 113);
    }

    &.front {
      z-index: 1;
      left: 50%;
      transform: translate(-50%, 0);
      top: rem-calc(65px);
    }

    &.back {
      top: rem-calc(8px);
    }

    &.left {
      left: rem-calc(172px);
    }

    &.right {
      left: rem-calc(533px);
    }
  }

  #think.slide {
    .content {
      //Enlarge image to align to template
      width: rem-calc(318px);

      img {
        position: relative;
        bottom: rem-calc(5px);
        left: rem-calc(2px);
      }
    }
  }

  #play.slide, #create.slide {
    //Placeholder
    img {
      height: rem-calc(98px);
      display: block;
      margin: 0 auto;

      text-align: center;
    }
  }
}

#about {
  color: $white;
  background-color: rgb(71, 85, 102);
  padding-top: rem-calc(44px);

  p {
    margin-left: rem-calc(24px);
    margin-bottom: rem-calc(43px);
    font-size: rem-calc(20px);
  }

  #{headings()} {
    //Override foundation
    color: inherit;
  }

  .icons {
    margin-top: rem-calc(8px);
    display: flex;
    flex-direction: column;

    a {
      //Override foundation
      color: inherit;
      font-size: rem-calc(13px);

      //Increase margin to align to template
      margin-bottom: rem-calc(18px);
    }
  }

  .phone {
    width: rem-calc(24px);
  }

  .email {
    width: rem-calc(32px);
  }

  .github {
    width: rem-calc(29px);
  }

  .linkedin {
    width: rem-calc(28px);
  }
}