<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kevin Suen - Designer/Developer</title>

    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="jspm_packages/github/kenwheeler/slick@1.5.5/slick/slick.css">
    <link rel="stylesheet" href="jspm_packages/github/kenwheeler/slick@1.5.5/slick/slick-theme.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="assets/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="assets/images/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Scripts -->
	<script src="build.js"></script>
    <script src="app/analytics.js"></script>

</head>
<body>
<nav id="nav" class="row">
    <!--TODO simplify jump to id via anchor-->
    <ul ng-controller="NavbarController as NavbarCtrl">
        <li><a href="assets/images/portfolio.png" target="_blank">DESIGN</a></li>
        <li><a ng-click="NavbarCtrl.scrollTo('about')">ABOUT</a></li>
        <li><a ng-click="NavbarCtrl.scrollTo('skills')">SKILLS</a></li>
        <li class="logo"><img src="assets/images/logo.svg" alt="logo"/></li>
        <li><a ng-click="NavbarCtrl.scrollTo('experience')">EXPERIENCE</a></li>
        <li><a ng-click="NavbarCtrl.scrollTo('education')">EDUCATION</a></li>
        <li class="coming-soon"><a>BLOG</a></li>
    </ul>
    <div class="background"></div>
</nav>

<!-- TODO consider rasterizing SVGs for performance-->
<section id="workflow" class="row">
    <div id="slides">
        <div id="think" class="slide middle">
            <img class="splash-art" src="assets/images/workflow/think.svg" alt="think"/>

            <p class="tag-line">THINK</p>
        </div>
        <div id="design" class="slide right">
            <img class="splash-art" src="assets/images/workflow/design.svg" alt="design"/>

            <a href="images/portfolio.png" target="_blank"><p class="tag-line">DESIGN</p></a>
        </div>
        <div id="create" class="slide left">
            <img class="splash-art" src="assets/images/workflow/create.svg" alt="create"/>

            <p class="tag-line">CREATE</p>
        </div>
    </div>
</section>

<section id="about" class="row">
    <header class="large-1 column">
        <h5>ABOUT</h5>
    </header>
    <div class="large-7 medium-11 small-10 column">
        <p>
            Hi, I'm Kevin an aspiring JavaScript ninja. I'm currently enamored with AngularJS but am interested in
            all things JavaScript. I've also got some decent <a href="assets/images/portfolio.png" target="_blank">design
            skills</a>. When I'm not programming you can catch me hiking, doodling on my Wacom tablet, or watching some
            Crash Course.
        </p>

        <p>
            If you're interested in working with me there's some ways to
            reach me to the right. Lets be ninjas together.
        </p>
    </div>
    <div class="large-4 medium-1 small-2 column">
        <table class="contact-info">
            <tr>
                <td>
                    <a href="tel:+908-240-5093" class="icon" ng-include="'assets/images/about/phone.svg'"></a>
                </td>
                <td>
                    <span>(908) 240-5093</span>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="mailto:ksrbkevinsuen@gmail.com" class="icon" target="_blank"
                       ng-include="'assets/images/about/email.svg'"></a>
                </td>
                <td>
                    <span>ksrbkevinsuen@gmail.com</span>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="//github.com/ksrb" class="icon" target="_blank"
                       ng-include="'assets/images/about/github.svg'"></a>
                </td>
                <td>
                    <span>github.com/ksrb</span>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="//linkedin.com/in/ksrbkevinsuen" class="icon" target="_blank"
                       ng-include="'assets/images/about/linkedin.svg'"></a>
                </td>
                <td>
                    <span>linkedin.com/in/ksrbkevinsuen</span>
                </td>
            </tr>
        </table>
    </div>
</section>

<section id="skills" class="row">
    <header class="large-1 column">
        <h5>SKILLS</h5>
    </header>
    <div class="large-11 small-12 column">
        <skills></skills>
    </div>
</section>

<section id="experience" class="row">
    <header class="large-12 column">
        <h5>EXPERIENCE</h5>
    </header>
    <div class="large-11 large-offset-1 small-12 column">
        <experience></experience>
    </div>
</section>

<section id="education" class="row">
    <header class="large-1 column">
        <h5>EDUCATION</h5>
    </header>
    <div class="large-offset-1 large-11 small-12 column">
        <article>
            <div class="degree">
                <b>Bachelor of Science, Computer Science</b><br/>
                Rutgers
            </div>
            <div class="date">
                <b>2009 - 2013</b><br/>
                New Brunswick
            </div>
        </article>
    </div>
</section>

</body>
</html>