<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kevin Suen - Designer/Developer</title>

    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/styles.css"/>

    <!--TODO use requirejs-->
    <!--Jquery-->
    <script src="bower_components/jquery/dist/jquery.js"></script>

    <!--Custom-->
    <script src="app/carousel.js"></script>
    <script src="app/analytics.js"></script>

    <!--Angular scripts-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>

    <script src="app/app.js"></script>
    <script src="app/controllers/controllers.js"></script>
    <script src="app/directives/directives.js"></script>
    <script src="app/models/models.js"></script>
    <script src="app/filters/filters.js"></script>

    <!--Slick carousel-->
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css">
    <script src="bower_components/slick-carousel/slick/slick.js"></script>

</head>
<body ng-app="app">
<nav id="nav" class="row">
    <!--TODO simplify jump to id via anchor-->
    <ul ng-controller="NavbarController as NavbarCtrl">
        <li><a ng-click="NavbarCtrl.scrollTo('about')">ABOUT</a></li>
        <li><a ng-click="NavbarCtrl.scrollTo('skills')">SKILLS</a></li>
        <li class="logo"><img src="images/logo.svg" alt="logo"/></li>
        <li><a ng-click="NavbarCtrl.scrollTo('experience')">EXPERIENCE</a></li>
        <li><a ng-click="NavbarCtrl.scrollTo('education')">EDUCATION</a></li>
    </ul>
    <div class="background"></div>
</nav>

<!-- TODO consider rasterizing SVGs for performance-->
<section id="workflow" class="row">
    <div id="slides">
        <div id="think" class="slide middle">
            <img class="splash-art" src="images/workflow/think.svg" alt="think"/>

            <p class="tag-line">THINK</p>
        </div>
        <div id="design" class="slide right">
            <img class="splash-art" src="images/workflow/design.svg" alt="design"/>

            <p class="tag-line">DESIGN</p>
        </div>
        <div id="create" class="slide left">
            <img class="splash-art" src="images/workflow/create.svg" alt="create"/>

            <p class="tag-line">CREATE</p>
        </div>
    </div>
</section>

<section id="about" class="row">
    <header class="large-1 column">
        <h5>ABOUT</h5>
    </header>
    <div class="large-8 medium-11 small-10 column">
        <p>
            Hi, I'm Kevin an aspiring JavaScript ninja. I'm currently enamored with AngularJS but am interested in
            all things JavaScript. When I'm not programming you can catch me hiking, doodling on my Wacom tablet, or
            watching some Twitch TV.
        </p>

        <p>
            If you're interested in working with me there's some ways to
            reach me to the right. Lets be ninjas together.
        </p>
    </div>
    <div class="large-3 medium-1 small-2 column">
        <div class="icons">
            <!-- TODO tel and mailto not working in chrome -->
            <div class="phone icon">
                <a href="tel:+908-240-5093">
                    <img src="images/about/phone.svg" alt="phone"/>
                </a>
                <span>(908) 240-5093</span>
            </div>
            <div class="email icon">
                <a href="mailto:ksrbkevinsuen@gmail.com" target="_blank">
                    <img src="images/about/email.svg" alt="email"/>
                </a>
                <span>ksrbkevinsuen@gmail.com</span>
            </div>
            <div class="github icon">
                <a href="https://github.com/ksrb" target="_blank">
                    <img src="images/about/github.svg" alt="github"/>
                </a>
                <span>github.com/ksrb</span>
            </div>
            <div class="linkedin icon">
                <a href="https://www.linkedin.com/in/ksrb00" target="_blank">
                    <img src="images/about/linkedin.svg" alt="linkedin"/>
                </a>
                <span>linkedin.com/in/ksrbkevinsuen</span>
            </div>
        </div>
    </div>
</section>

<section id="skills" class="row">
    <header class="large-1 column">
        <h5>SKILLS</h5>
    </header>
    <div class="large-11 small-12 column">
        <skills></skills>
    </div>
</section>

<section id="experience" class="row">
    <header class="large-12 column">
        <h5>EXPERIENCE</h5>
    </header>
    <div class="large-11 large-offset-1 small-12 column">
        <experience></experience>
    </div>
</section>

<section id="education" class="row">
    <header class="large-1 column">
        <h5>EDUCATION</h5>
    </header>
    <div class="large-offset-1 large-11 small-12 column">
        <article>
            <div class="degree">
                <b>Bachelor of Science, Computer Science</b><br/>
                Rutgers
            </div>
            <div class="date">
                <b>2009 - 2013</b><br/>
                New Brunswick
            </div>
        </article>
    </div>
</section>

</body>
</html>