<article id="{{experience.organization | lowercase}}"
         ng-repeat="experience in experiences" ng-controller="ExperienceController">
    <div class="experience-container">
        <header>
            <div class="organization-logo">
                <a href="{{experience.website}}" target="_blank">
                    <img ng-src="{{getLogoImage()}}"
                         alt="{{experience.organization}}">
                </a>
            </div>

            <div class="skills-used">
                <div style="width:{{skills_used.usage}}%"
                     class="{{getSkillName(skills_used)}}"
                     ng-repeat="skills_used in experience.skills_used">
                    <span class="long">{{getSkillName(skills_used)}}</span>
                    <span class="short">{{getSkillName(skills_used, true)}}</span>
                    {{skills_used.usage}}%

                </div>
            </div>
        </header>

        <div class="content">
            <div class="overview">
                <div class="company-info">
                    <div class="name">
                        <a href="{{experience.website}}">{{experience.organization}}</a>
                    </div>
                    <div class="location">
                        {{experience.location}}
                    </div>
                </div>
                <div class="position-info">
                    <div class="title">{{experience.title}}</div>
                    <div class="date">
                        {{experience.start | date: 'MM/yyyy'}} -
                        <span ng-show="experience.end">
                            {{experience.end | date: 'MM/yyyy'}}
                        </span>
                        <span ng-hide="experience.end">
                            Current
                        </span>
                    </div>
                </div>
            </div>
            <div class="description">
                <p>{{experience.purpose}}</p>
                <ul class="contributions">
                    <li ng-repeat="contributions in experience.contributions">{{contributions}}</li>
                </ul>
            </div>
            <div class="samples">
                <header>Sample work</header>
                <div class="images" ng-show="experience.samples">
                    <img class="image" ng-repeat="sample in experience.samples"
                         ng-src="{{getSampleThumbNail(sample)}}"
                         ng-click="openModal($index)" alt="sample">
                </div>
                <div class="images-placeholder" ng-show="!experience.samples">
                    Work in progress
                </div>
            </div>
        </div>
    </div>
    <hr ng-hide="$last"/>
</article>