<div class="legends clearfix">
    <div class="search">
        <div class="legend" ng-click="showSearch = !showSearch">
            <img src="images/skills/search.svg"/>
        </div>
        <input class="bar" type="text" placeholder="Enter a skill (Java, Photoshop, css...)" ng-model="inputedName"
               ng-class="{'show':showSearch}">
    </div>
    <div class="legend" ng-repeat="legend in SkillsCtrl.legends"
         ng-click="SkillsCtrl.setSelectedLegend(legend);" ng-class="{selected: SkillsCtrl.selectedLegend == legend}">
        <span class="name">{{legend.name | uppercase}}</span>
    </div>
</div>

<div class="skill"
     ng-repeat="skill in SkillsCtrl.skills| filter: {name:inputedName}| filter: SkillsCtrl.skillIsGreaterThanSelectedSkill">
    <div class="skill-label">
        <img class="icon" ng-src="{{SkillsCtrl.getIcon(skill)}}" alt="{{skill.name}}"/>

        <p class="name">{{skill.name | capitalize}}</p>
    </div>
    <div class="meter" ng-include="'app/partials/meter.svg'"></div>
</div>