#skills {
  $legend-height: 32px;
  $legend-width: 755px;

  color: $white;
  $hover-color: lighten(adjust_saturation($primary, 5%), 10%);

  .legends {
    @include display-flex;
    margin-bottom: 7px;
    width: $legend-width;
  }

  .search {
    visibility: hidden;

    width: $legend-width;
    height: 0;

    margin: 0;
    padding: 0;

    transition: height 1s ease, visibility 1s ease, margin 1s ease, padding 1s ease;

    &.show {
      @extend .selected;

      visibility: visible;
      height: $legend-height;

      padding: .5em;
      margin: 0 0 7px;
    }
  }

  &:hover {
    border-color: $hover-color;
  }

  .legend {
    $transition-duration: .3s;

    position: relative;
    margin-right: 26px;

    @include display-flex;
    @include align-items(center);
    @include justify-content(center);

    background: $primary;

    height: $legend-height;
    width: 90px;

    cursor: pointer;

    transition: background-color $transition-duration ease;

    .name {
      text-align: center;
      font-size: 9px;
    }

    .legend-tooltip {
      $border-color: #000000;

      display: none;
      position: absolute;
      bottom: 42px;
      left: -65px;

      padding: 7px;
      width: 225px;

      background-color: $hover-color;
      border-radius: 10px;

      box-sizing: border-box;
      opacity: 0;

      transition: opacity $transition-duration ease;

      &:after {
        content: "";
        display: block;

        position: absolute;
        left: 50%;
        bottom: -20px;
        transform: translate(-50%, 0);

        border: 10px solid;
        border-color: $hover-color transparent transparent;
      }

      p {
        font-size: 11px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &:hover {
      .legend-tooltip {
        display: block;
        opacity: 1;
      }
    }

    //Chevron rules
    &:first-child {
      width: 52px;

      //Removed back of chevron
      &:before {
        border: none;
      }
    }

    &:last-child {
      width: 95px;
      margin-right: 0;

      //Remove front of chevron
      &:after {
        border: none;
        margin: 0;
      }
    }

    &:after, &:before {
      content: "";

      position: absolute;
      top: 0;

      transition: border-color $transition-duration ease;
    }

    //Back of chevron
    &:before {
      right: 100%;

      border-top: $legend-height/2 solid $primary;
      border-left: 10px solid transparent;
      border-bottom: $legend-height/2 solid $primary;
    }

    //Front of chevron
    &:after {
      left: 100%;

      border-top: $legend-height/2 solid transparent;
      border-left: 10px solid $primary;
      border-bottom: $legend-height/2 solid transparent;
    }

    &:hover, &.selected {
      background: $hover-color;

      &:after {
        border-left: 10px solid $hover-color;
      }
      &:before {
        border-top: $legend-height/2 solid $hover-color;
        border-bottom: $legend-height/2 solid $hover-color;
      }
    }

  }

  .skill {

    .skill-label {
      width: 47px;
      height: 53px;
      position: absolute;

      .icon, .name {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
      }

      .icon {
        top: 4px;
      }

      .name {
        //Override foundation
        margin: 0;
        bottom: 0;
        font-size: 10px;
      }
    }
  }
}






