@import "~scss/defaults";

$node-size: 14px;
$border-size: 4px;

.node {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node_bullet {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 50%;
  background-color: $experience-grey;
  border: $border-size solid $dark-blue;
  width: $node-size;
  height: $node-size;
}

.node_text {
  position: absolute;
  left: $node-size + $border-size * 2 + 5px;
}

.node_connector {
  height: 50px;
  width: $border-size;
  background-color: $dark-blue;
}
