<!-- Consider more advanced directive use for both the legend and skills -->
<div class="legends clearfix">
    <div class="legend" ng-click="showSearch = !showSearch" ng-class="{'selected':showSearch}">
        <img src="assets/images/skills/search.svg"/>
    </div>

    <div class="legend" ng-repeat="legend in SkillsCtrl.legends"
         ng-click="SkillsCtrl.setSelectedLegend(legend);"
         ng-class="{selected: SkillsCtrl.selectedLegend.level >= legend.level}">
        <span class="name">{{legend.name | uppercase}}</span>

        <div class="legend-tooltip">
            <p>{{legend.description}}</p>

            <p>{{legend.colloquial}}</p>
        </div>
    </div>
</div>

<input class="search" type="text" placeholder="Enter a skill (Java, Photoshop, css...)" ng-model="inputedName"
       ng-class="{'show':showSearch}">

<!--TODO questionable filter use see http://toddmotto.com/everything-about-custom-filters-in-angular-js-->
<div class="skill"
     ng-repeat="skill in SkillsCtrl.skills | filter: {name:inputedName}| filter: SkillsCtrl.skillIsGreaterThanSelectedSkill as results">
    <div class="skill-label">
        <a href="{{skill.obj.site}}" target="_blank">
            <img class="icon" ng-src="{{SkillsCtrl.getIcon(skill)}}" alt="{{skill.obj.name}}"/>
        </a>

        <p class="name">{{skill.obj.name}}</p>
    </div>
    <div class="meter" ng-include="'app/components/skills/skills.view.meter.svg'"></div>
</div>
<div class="important" ng-if="results.length == 0">
    No results please try a different search
</div>