@import "shared.json";

$white: map-get($colors, white);
$blue: map-get($colors, blue);
$dark-blue: map-get($colors, dark-blue);
$experience-grey: map-get($colors, experience-grey);

$gutter: 20px;

$skill-color-map: (
  programming: map-get($colors, programming),
  visual: map-get($colors, visual),
  tool: map-get($colors, tool),
);

.a {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    height: 1px;
    margin-top: 2px;
    min-width: 0;
    background-color: $white;
    transition: min-width .2s ease-out;
  }

  &:hover {
    &::after {
      min-width: 100%;
    }
  }
}
